*{
    font-family:  "Inter", sans-serif;
}
body{
    background-color: #eff2f1;
}
nav,.hero{
    background-color: #3b5d50;
}
.hero p{
    font-size: 14px;
    line-height: 1.6;
}
nav a,nav li{
    position: relative;
    font-size: 14px;
    color:#ffffff80!important;
}
nav a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 0;
    height: 4px;
    background-color: #f9bf29;
    transition: 0.3s;
}
nav a:hover::after{
    width: 100%;
}

nav .after::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 0;
    height: 4px;
    background-color: #f9bf29;
    transition: 0.3s;
    width: 100%;
}
nav a:hover{
    color: #fff!important;
}
.shop .plus{
    width: 45px;
    height: 45px;
    transform: translateY(200%);
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.shop .box:hover .plus{
    opacity: 1;
    transition: opacity 1s;
    transform: translateY(100%);
}
.shop .box:hover{
    overflow: visible!important;
}
.shop .box::after {
    content: "";
    left: 0;
    right: 0;
    border-radius: 4px;
    height: 0;
    transition: 0.5s;
    position: absolute;
    background-color: #dce5e4;
    top: 100%;
    z-index: -1;
}
.shop .box:hover::after{
    height: 70%;
    top: 30%;
}
.shop .box img{
    transition: 0.5s;
}
.shop .box:hover img{
    transform: translateY(-5px);
}
.shop h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.shop p{
    font-size: 15px;
     color: #5a5a5a;
}
.about p{
    color: #5a5a5a;
    font-size: 16px;
}
.about i::after{
    content: "";
    position: absolute;
    background-color: #dce5e4;
    width: 30px;
    height: 30px;
    z-index: -1;
    left: 6px;
    border-radius: 50%;
}